D:/RPG[[:space:]]Game/Assets/Character/Models/character.fbx filter=lfs diff=lfs merge=lfs -text
*/Assets/Character/Models/character.fbx filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
